#collectionSection {
    margin-left: 320px;
}

#collectionSection>div {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    overflow-y: scroll;
    height: 100%;
}

.collectionIMG {
    width: 860px;
    height: 420px;
    background: #E0E0E0;
}

#collectionPageText {
    color: #000;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 100% */
letter-spacing: 1.1px;
}