#navImg {
    width: 220px;
    height: 220px;
    background-color: #D9D9D9;
    border-radius: 100%;
}

nav {
    padding: 50px 100px 0px 0px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navTitle {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1px;
    /* 100% */
    letter-spacing: 3px;
}

#navTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#children {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 80px 0px 0px 30px;
}

#children>div {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.7px;
}

#navSocials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#salutation {
    display: flex;
    flex-direction: column;
}

#salutation>div:first-child {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5.4px;
}

#salutation>div:last-child {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.9px;
}