#photogridSection {
    margin-left: 320px;
    padding-top: 45px;
    width: fit-content;
}

.tripleGridder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
}

.topbottomFripleComplex {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.leadingDoubleGridder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: fit-content;
}

.trainlingDoubleGridder {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
}

.leadingFripleGridder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: fit-content;
    height: fit-content;
}

.trailingFripleGridder {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
    height: fit-content;
}

.IMGgridContainer {
    background-color: #e0e0e0;
    border-radius: 8px;
    margin: 5px;
}

.tripleGridder > .IMGgridContainer {
    height: 270px;
    width: 270px;
}

.doubleIMGIdentifier {
    height: 270px;
    width: 550px !important;
}

.fripleIMGIdentifier {
    height: 550px;
    width: 550px;
}