#photogridSection {
    margin-left: 320px;
    padding: 45px 0px;
    width: fit-content;
}

.tripleGridder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
}

.topbottomFripleComplex {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.leadingDoubleGridder {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.trainlingDoubleGridder {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.leadingFripleGridder {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.trailingFripleGridder {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.IMGgridContainer {
    background-color: #e0e0e0;
    border-radius: 8px;
    margin: 8px; 
    object-fit: cover;
}

.IMGgridContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tripleGridder > .IMGgridContainer {
    height: 270px;
    width: 270px;
}

.doubleIMGIdentifier {
    height: 270px;
    width: 555px !important;
}

.fripleIMGIdentifier {
    border: 1px solid red;
    height: 568px;
    width: 555px;
}