::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

* {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

body {
    margin: 0px;
}

.subsection {
    width: 1180px;
    margin: 0px auto;
}